* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* *****************************/
/* GENERAL REUSABLE COMPONENTS */
/* *****************************/
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  background-color: rgba(255, 0, 0, 0.01);
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.header-box,
.main-nav-link,
.heading-primary {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* Header: button-box */
.button-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-0.5rem);
  background-color: #ade8f4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #000;
}

/* headings */

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
}

.header-primary {
  font-size: 2.6rem;
  margin-bottom: 2.6rem;
}

.header-secondary {
  font-size: 4.4rem;
  margin-bottom: 3.6rem;
  color: #333;
}
