/* 1496px */
@media (max-width: 93.5em) {
  .adventure-body-box {
    grid-template-columns: 1fr;
  }

  .adventure-image-box {
    padding: 0;
  }
  .right-bot-half {
    grid-template-columns: 1fr;
  }
  .phone-number-box {
    border: none;
  }
  .email-box {
    margin-top: 2rem;
    padding-left: 0;
  }
}

/* 1211 px */
@media (max-width: 75.69em) {
  .title:link,
  .title:visited {
    font-size: 2.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.8rem;
  }
  .heading-primary--main {
    font-size: 4.8rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
  }
  .footer-box {
    column-gap: 2rem;
  }
  .social-links li {
    flex: 1 1 100%;
  }
}

/* 1180px*/
@media (max-width: 73.75em) {
  .restaurants-body-box {
    column-gap: 2.4rem;
  }
}

/* 950px*/
@media (max-width: 59.38em) {
  .restaurants-body-box {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.6rem;
  }

  .header__text-box {
    z-index: 1;
  }

  .inquire-text-box {
    padding: 4.8rem 2.4rem 6.4rem;
  }

  .inquire-form {
    column-gap: 2.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    z-index: 2;
    background-image: linear-gradient(
      #caf0f8,
      #c0edf6,
      #b6eaf5,
      #abe7f3,
      #a0e4f1,
      #96e1ef,
      #8cdeee,
      #81dbec,
      #6fd6eb,
      #55cfe7,
      #1dbedf,
      #00b4d8
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* 870px */
@media (max-width: 54.38em) {
  .hotels-image-6,
  .hotels-image-7,
  .hotels-image-8 {
    flex: 1 1 32.5%;
  }

  .hotels-image-9,
  .hotels-image-10 {
    flex: 1 1 40%;
  }

  .restaurants-body-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .inquire-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .inquire-image-box {
    grid-row: 1/2;
  }

  .footer-box {
    grid-template-columns: 1fr;
    padding: 0 4.2rem;
  }

  .footer-left-box {
    grid-template-columns: 0.8fr 1.2fr;
  }

  .resource-social-col {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
}
