/* ****************** */
/*       HEADER       */
/* ****************** */

.header {
  height: 90vh;
  background-image: url('../images/hero-background.jpg');
  background-size: cover;
  background-position: top;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 4.8rem;
  position: relative;
  align-items: center;
}

.title:link,
.title:visited {
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
}

i .icon {
  font-size: 3rem;
}

/* Navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-nav-link.nav-cta {
  border-style: solid;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.main-nav-link:hover {
  transform: translateY(-0.2rem);
}

/* Header-Text */
.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-bottom: 1.6rem;

  /* animation-name: moveInLeft;
  animation-duration: 2s; */
}

.heading-primary--sub {
  display: block;
  font-size: 2.3rem;
  letter-spacing: 1.75rem;

  /* animation-name: moveInRight;
  animation-duration: 2s; */
}

/* .button-animated {
  animation-name: moveInBottom;
  animation-duration: 2s;
} */

/***********************/
/* ADVENTURE SECTION   */
/***********************/

.adventure-body-box {
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
  align-items: center;
}

.adventure-image-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.6rem;
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 0.4rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.adventure-description-box p {
  font-size: 2rem;
  line-height: 1.6;
}

.description-catcher {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.4rem;
}

.highlight-title {
  font-weight: 500;
}

.fake-button {
  margin: 2rem auto;
  font-size: 2.2rem;
  text-align: center;
}

.fake-button a {
  display: inline-block;
  background-color: #0077b6;
  color: #fff;
  padding: 1.2rem 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.4rem;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.fake-button a:hover {
  transform: translateY(-0.3rem);
  background-color: #0096c7;
}

/***********************/
/*   HOTELS SECTIONS   */
/***********************/
.section-hotels {
  background-image: linear-gradient(
    #caf0f8,
    #c0edf6,
    #b6eaf5,
    #abe7f3,
    #a0e4f1,
    #96e1ef,
    #8cdeee,
    #81dbec,
    #6fd6eb,
    #55cfe7,
    #1dbedf,
    #00b4d8
  );
}

.hotels-gallery {
  display: flex;
  gap: 0.5rem;
}

.hotels img:hover {
  transform: scale(1.1);
}

.hotels-gallery {
  margin-bottom: 0.4rem;
}

.hotels-gallery img {
  height: 26rem;
  object-fit: cover;
}

.hotels-image-1,
.hotels-image-2 {
  flex-basis: 50%;
}

.hotels-gallery-row-2 {
  flex-wrap: wrap;
}

.hotels-image-3,
.hotels-image-4,
.hotels-image-5 {
  flex: 1 0 33%;
}

.hotels-image-6,
.hotels-image-7,
.hotels-image-8,
.hotels-image-9,
.hotels-image-10 {
  flex: 1 1 10%;
}

.section-hotels p {
  font-size: 2rem;
  line-height: 1.6;
}

.hotels-description-box p {
  padding: 0rem 6rem 4rem;
  text-align: center;
  color: #222;
}

/***********************/
/* RESTAURANT SECTION  */
/***********************/

.restaurants-body-box {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.restaurants-card {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.4s;
}

.restaurants-card:hover {
  transform: translateY(-1rem);
}

.card-image-box img {
  width: 100%;
}

.card-heading {
  text-align: center;
  font-size: 2.2rem;
  margin: 1.2rem 0;
  color: #222;
}

.card-text-box {
  padding: 1rem 2rem 3rem;
  font-size: 1.6rem;
  color: #444;
  text-align: center;
}

/***********************/
/*   INQUIRE SECTION   */
/***********************/
.inquire-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

  border-radius: 1rem;
  overflow: hidden;
}

.inquire-text-box {
  background-image: linear-gradient(
    #fffde9,
    #fffde4,
    #fffbd7,
    #fffbd2,
    #d2fcf9,
    #d0fbfb,
    #cef9fd,
    #ccf8ff,
    #c1f9fe,
    #b6fafd,
    #aafaf9,
    #a0fbf5
  );
}

.inquire-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.inquire-text-box h2 {
  text-align: center;
}

.inquire-form {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.inquire-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.inquire-form input,
.inquire-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fffded;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.inquire-form input::placeholder {
  color: #aaa;
}

.inquire-form .btn {
  align-self: end;
  padding: 1.2rem;
}

.inquire-form .btn:hover {
  background-color: #fffbd7;
}

.inquire-image-box {
  background-image: url('../images/inquire/beach.png');
  background-position: center;
  background-size: cover;
}

.inquire-box *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(173, 232, 244, 0.8);
}

/***********************/
/*    FOOTER SECTION   */
/***********************/
.section-footer {
  background-color: #002441;
  padding-bottom: 2rem;
}
.footer-box {
  display: grid;
  padding: 0 9.2rem;
  margin-bottom: 10rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.footer-left-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 2rem;
}

.footer-titles {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 1.4rem;
}

.company-col {
  height: 30rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
  font-size: 1.4rem;
  color: #bbb;
}

.footer-nav li {
  transition: all 0.2s;
}

.footer-nav li:hover {
  color: #eee;
}

.resource-social-col {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  list-style: none;
  font-size: 2.4rem;
  color: #ccc;
}

.social-text {
  font-size: 1.4rem;
}

.social-links li {
  flex: 1 1 40%;
  margin-right: 1rem;
  transition: all 0.4s;
}

.social-links li:hover {
  color: #d0fbfb;
}
.social-links li i {
  margin-right: 1rem;
}

.footer-right-box {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
}

.right-top-half {
  display: flex;
}

.right-top-half h3 {
  font-size: 4.2rem;
  color: #fff;
}
.right-bot-half {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}

.phone-number-box {
  border-right: 2px solid #fff;
}

.call-title,
.email-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ccc;
  margin-bottom: 0.8rem;
}

.phone-number,
.email {
  font-size: 3rem;
  color: #fff;
}

.email-box {
  padding-left: 2rem;
}

.source-repo {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

.repo-link:link,
.repo-link:visited {
  color: #a0fbf5;
  text-decoration: none;
  transition: all 0.4s;
}

.repo-link:hover {
  color: #fffbd2;
}
/***********************/
/* KEYFRAMES ANIMATION */
/***********************/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
