/* ****************** */
/*       HEADER       */
/* ****************** */

.header {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url('../images/hero-background.jpg');
  background-size: cover;
  background-position: top;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 4.8rem;
  position: relative;
  align-items: center;
}

.title:link,
.title:visited {
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
}

i .icon {
  font-size: 3rem;
}

/* Navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

/* Header-Text */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-bottom: 1.6rem;

  animation-name: moveInLeft;
  animation-duration: 2s;
}

.heading-primary--sub {
  display: block;
  font-size: 2.3rem;
  letter-spacing: 1.75rem;

  animation-name: moveInRight;
  animation-duration: 2s;
}

/***********************/
/* KEYFRAMES ANIMATION */
/***********************/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
