/* ****************** */
/*       HEADER       */
/* ****************** */

.header {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url('../images/hero-background.jpg');
  background-size: cover;
  background-position: top;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 4.8rem;
  position: relative;
  align-items: center;
}

.title:link,
.title:visited {
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
}

i .icon {
  font-size: 3rem;
}

/* ****************** */
/*     NAVIGATION     */
/* ****************** */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

/* ****************** */
/*   SECTION HERO     */
/* ****************** */

.section-hero {
}
